{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["simple-import-sort"],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",

    "no-void": "off",
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@/features/*/*"]
      }
    ],

    "@typescript-eslint/no-use-before-define": "off",

    "import/order": "off",
    "import/extensions": [0, { "<js>": "always" }],
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",

    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "function-declaration"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["src/**/*.ts?(x)"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    },
    {
      "files": ["vite.config.ts", "cypress.config.ts"],
      "parserOptions": {
        "project": ["./tsconfig.node.json"]
      }
    },
    {
      "files": ["**/__tests__/**/*.ts?(x)"],
      "extends": ["plugin:testing-library/react"],
      "rules": {
        "@typescript-eslint/no-magic-numbers": ["off"],
        "testing-library/no-await-sync-events": [
          "error",
          {
            "eventModules": ["fire-event"]
          }
        ],
        "testing-library/no-manual-cleanup": "error",
        "testing-library/prefer-explicit-assert": "error",
        "testing-library/prefer-user-event": "error",
        "testing-library/prefer-wait-for": "error"
      }
    }
  ]
}
